// header {
//   left             : 0;
//   width            : 100%;
//   height           : 50px;
//   top              : 0;
//   z-index          : 8000;
//   position         : fixed;
//   background-color : #f4f7f6;
// }

.navbar-trans {
  background-color: transparent;
  transition: all .5s ease-in-out;

  &.bg-color {
    background-color: white;
  }
}
