@import './helpers/_variable.scss';
@import "~font-awesome/scss/font-awesome";
@import '~bootstrap/scss/bootstrap.scss';
//@import '~mdbootstrap/sass/mdb.scss';

@import 'overwrite.scss';

@import './components/_button.scss';
@import './containers/_home.scss';
@import './containers/_login.scss';

body {
  background-color: $color-primary
}

.overflow-hidden {
  overflow: hidden !important;
}

.mask-white {
  background-color: rgba(255, 255, 255, 0.1);
  height: 100%;
}

.no-padding {
  padding: 0 !important
}
