a {
  &:hover {
    text-decoration: none
  }
}

input:not([readonly]) {
  &[type=text]:focus {
    box-shadow: none
  }
}

.navbar {
  border-radius: 0;
  box-shadow: none;
  padding: 0.5 rem 9px;
}
