.nav-main {
  width            : 320px;
  display          : flex;
  height           : 100%;
  position         : absolute;
  transform        : translateX(-320px);
  transition       : transform 0.5s;
  overflow         : hidden;
  flex-direction   : column;
  background-color : white;

  .login {
    width    : 100%;
    bottom   : -295px;
    z-index  : 1000;
    position : absolute;

    // transition : transform 0.5s ease-in-out;

    &.show {
      transform  : translateY(-330px);
    }
  }

  .signup {
    width    : 100%;
    bottom   : -200px;
    z-index  : 1000;
    position : absolute;

    // transition : transform 0.5s ease-in-out;

    &.show {
      transform: translateY(-235px);
    }
  }

}

